.title {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}

.spacer {
    flex: 1 1 auto;
  }

.back {
    cursor: pointer;
    padding-left: 20px;
    padding-top: 10px;
    color: #212529;
    font-weight: bold;
}