.nav-spacer {
    flex: 1 1 auto;
  }

  .new-icon {
    padding-right: 25px;
    font-weight: bold;
    cursor: pointer;
  }

  .title {
      text-decoration: none;
      cursor: pointer;
      color: #212529;
  }
